/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
.navbar .title{
	font-family: byekan, arial , tahoma;
	}
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.accordion-item-content {
    position: relative;
    overflow: hidden;
    height: 0;
    font-size: 14px;
    transition-duration: .1s;
    background-color: #969595 ;
	color: #ffffff ;
	padding: 4 4 4 4px;
}
